'Bitwarden CLI'
Bitwarden CLI
BraveSoftware
chromium
coc
coc.old
configstore
efm-langserver
fontforge
gh
google-chrome
google-chrome-unstable
htop
jesseduffield
lazygit
microsoft-edge
neofetch
procps
sao-nodejs
spring
thefuck
weather-cli-nodejs
wslu
